In [140]:
import pandas as pd
df=pd.read_csv("C:\\csvdemo.csv")
print(df)

         day  lucknow  delhi  kolkata
0     Monday       65     65       56
1    Tuesday       45     66       58
2  Wednesday       21     68       60
3   Thursday       45     75       80
4     Friday       36     78       83
5   Saturday       44     82       85
6     Sunday       35     48       26
7     Monday       41     77       30
8    Tuesday       34     79       35

In [145]:
df2=pd.melt(df,id_vars=["day"])
print(df2)

          day variable  value
0      Monday  lucknow     65
1     Tuesday  lucknow     45
2   Wednesday  lucknow     21
3    Thursday  lucknow     45
4      Friday  lucknow     36
5    Saturday  lucknow     44
6      Sunday  lucknow     35
7      Monday  lucknow     41
8     Tuesday  lucknow     34
9      Monday    delhi     65
10    Tuesday    delhi     66
11  Wednesday    delhi     68
12   Thursday    delhi     75
13     Friday    delhi     78
14   Saturday    delhi     82
15     Sunday    delhi     48
16     Monday    delhi     77
17    Tuesday    delhi     79
18     Monday  kolkata     56
19    Tuesday  kolkata     58
20  Wednesday  kolkata     60
21   Thursday  kolkata     80
22     Friday  kolkata     83
23   Saturday  kolkata     85
24     Sunday  kolkata     26
25     Monday  kolkata     30
26    Tuesday  kolkata     35

In [153]:
#Filter specific
df2=pd.melt(df,id_vars=["day"],var_name="city")
df2=df2[df2["city"]=="lucknow"]
print(df2)

         day     city  value
0     Monday  lucknow     65
1    Tuesday  lucknow     45
2  Wednesday  lucknow     21
3   Thursday  lucknow     45
4     Friday  lucknow     36
5   Saturday  lucknow     44
6     Sunday  lucknow     35
7     Monday  lucknow     41
8    Tuesday  lucknow     34

In [149]:
df2=pd.melt(df,id_vars=["day"],var_name="city",value_name="temperature")
print(df2)

          day     city  temperature
0      Monday  lucknow           65
1     Tuesday  lucknow           45
2   Wednesday  lucknow           21
3    Thursday  lucknow           45
4      Friday  lucknow           36
5    Saturday  lucknow           44
6      Sunday  lucknow           35
7      Monday  lucknow           41
8     Tuesday  lucknow           34
9      Monday    delhi           65
10    Tuesday    delhi           66
11  Wednesday    delhi           68
12   Thursday    delhi           75
13     Friday    delhi           78
14   Saturday    delhi           82
15     Sunday    delhi           48
16     Monday    delhi           77
17    Tuesday    delhi           79
18     Monday  kolkata           56
19    Tuesday  kolkata           58
20  Wednesday  kolkata           60
21   Thursday  kolkata           80
22     Friday  kolkata           83
23   Saturday  kolkata           85
24     Sunday  kolkata           26
25     Monday  kolkata           30
26    Tuesday  kolkata           35